{% extends 'base.html' %}
{% load static %}


{% block add_css %}
  <link rel="stylesheet" href="{% static 'cart/css/cart_css.css' %}" type="text/css" media="screen" />
{% endblock add_css %}


{% block content %}
    <!-- https://docs.djangoproject.com/en/4.0/ref/templates/builtins/ -->

    <div class="container checkout" >
      <div class="row">

      <div style="" class="checkout-box  checkout-box-hide  col-lg-2 col-md-3">
        {% if user.is_authenticated %}
        <div class="" style="padding:1rem;">
            <div>قیمت کل : {{cart.get_total_price}}</div>
            <div style="margin-top:10px;">
              <span style="text-align:right;">{{cart_len}}</span>
              :
              <span>تعداد کالا  </span>
            </div>
            <a class="btn btn-dark" style="margin-top:10px"  href="{% url 'orders:checkout' %}">خرید را نهایی کن</a>
        </div>
        {% else %}
        <div class="" style="padding:1rem;">

            <div>قیمت کل {{cart.get_total_price}}</div>
            <div style="margin-top:10px;">
              <span style="text-align:right;">{{cart_len}}</span>
              :
              <span>تعداد کالا  </span>
            </div>
            <a class="btn btn-dark" style="margin-top:10px" href="{% url 'account_login' %}">ابتدا وارد شوید</a>
        </div>
        {% endif %}
      </div>
        <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <table id="customers">
            <tr>
              <th>حذف از سبد</th>
              <th>تغییر دادن تعداد</th>
              <th>قیمت کلی</th>
              <th>تعداد</th>
              <th> قیمت هر واحد</th>
              <th>اسم کالا</th>
              <th>عکس</th>
            </tr>
            {% for item in cart %}
              {% with product=item.product %}
                <tr>
                  <td><a style="color:rgb(255, 99, 71); text-decoration:none;" href="{% url 'cart:cart_remove' product_id=product.id  %}">
                    <strong>حذف</strong>
                  </a></td>
                  <td><form class="" action="{% url 'cart:cart_add' product_id=product.id %}" method="post">
                    {{ item.update_quantity_form.quantity}}
                    {{ item.update_quantity_form.update }}
                    <input type="submit" name="" value="update">
                    {% csrf_token %}
                  </form></td>
                  <td>{{ item.total_price }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{product.name}}</td>
                  <td ><a href="{{ product.get_absolute_url }}"><img style="width:90px;" src="{{product.product_image.first.image.url}}" alt=""></a></td>
              </tr>
            {% endwith %}
          {% endfor %}
          </table>
        </div>

        <div style="margin-top:30px;" class=" col-sm-4 col-4  offset-sm-4 offset-4 checkout-box checkout-box-hide2">
          {% if user.is_authenticated %}
          <div class="" style="padding:1rem;">
              <div>قیمت کل : {{cart.get_total_price}}</div>
              <div style="margin-top:10px;">
                <span style="text-align:right;">{{cart_len}}</span>
                :
                <span>تعداد کالا  </span>
              </div>
              <a class="btn btn-dark" style="margin-top:10px"  href="{% url 'orders:checkout' %}">خرید را نهایی کن</a>
          </div>
          {% else %}
          <div class="" style="padding:1rem;">

              <div>قیمت کل {{cart.get_total_price}}</div>
              <div style="margin-top:10px;">
                <span style="text-align:right;">{{cart_len}}</span>
                :
                <span>تعداد کالا  </span>
              </div>
              <a class="btn btn-dark" style="margin-top:10px" href="{% url 'account_login' %}">ابتدا وارد شوید</a>
          </div>
          {% endif %}
        </div>

      </div>



    </div>


{% endblock %}
