{% extends 'customers_base.html' %}
{% load static %}

{% block css %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock css %}

{% block content2 %}

  <div class="" style="float:right; margin-right:10px; text-align:right;">
    <h5 style="margin-top:20px; margin-bottom:20px;">سفارش های اخیر</h5>
    <div class="row"  style="border-bottom:1px groove; margin-bottom:10px;">
      <div class="col-1">
        جزییات
      </div>
      <div class="col-5">
        ادرس مقصد
      </div>
      <div class="col-1">
        هزینه
      </div>
      <div class="col-3">
        زمان ثبت سفارش
      </div>
      <div class="col-2">
        وضعیت
      </div>

    </div>
    {% for i in order_ %}
    <div class="row" style="border-bottom:1px groove; margin-bottom:10px;">
      <div class="col-1">
          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal{{i.id}}">کالاها</button>
      </div>
      <div  class="col-5">
        {{i.address}}
      </div>
      <div class="col-1">
        {{i.total_price}}
      </div>
      <div class="col-3">
        {{i.created_time}}
      </div>
      <div style="font-size:14px;" class="col-2">
        {{i.order_status}}
      </div>


      <!-- Modal -->
      <div id="myModal{{i.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div  class="modal-content">

            <div class="modal-body">
                <div class="">
                  <h4 style="margin-top:10px; margin-bottom:20px;" class="modal-title">محصولات خریداری شده</h4>
                </div>
              {% for item in i.order_items.all %}
              <div class="row" style=" border-bottom:1px groove; ">
                  <div class="col-4">
                    {{item.quantity}} : تعداد
                  </div>
                  <div class="col-4">
                    {{item.product.name}} : اسم کالا
                  </div>
                  <div class="col-4">
                    <img style="width:100%;" src="{{item.product.product_image.first.image.url}}" alt="">
                  </div>
              </div>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button  type="button" class="btn btn-default" data-dismiss="modal">بستن پنجره</button>
            </div>
          </div>

        </div>
      </div>


    </div>


    {% endfor %}


  </div>

{% endblock %}
