{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  <title>مغازه علی قلی جزییات</title>
{% endblock title %}


{% block add_css %}
<link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css" media="screen" />

<script defer src="{% static 'home/js/jquery.flexslider.js' %}"></script>
<link rel="stylesheet" href="{% static 'home/css/flexslider.css' %}" type="text/css" media="screen" />
<style media="screen">
  .comment {
  	display: block;
  	transition: all 1s;
  }

  button.primaryContained {
  	background: #016ba8;
  	color: #fff;
  	padding: 10px 10px;
  	border: none;
  	margin-top: 0px;
  	cursor: pointer;
  	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
  	transition: 1s all;

  	font-size: 14px;
  	border-radius: 5px;
  }
  button.primaryContained:hover {
  	background: #9201A8;
  }
  .comment-box {
    text-align:right;
  }
</style>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

{% endblock add_css %}


{% block content %}
<div class="container">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
          <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
      <div style="margin-top: 20px;" class="container">
          <div class="row">

            <div class="col-sm-12 col-lg-8 col-md-6">
              <section class="slider">
                  <div id="slider" class="flexslider">
                      <ul class="slides">
                        <!-- 1  -->
                        {% for i in image_list %}

                          {% thumbnail i.image "500" as im %}
                            <li>
                              <img id="myImg" src="{{im.url}}" class="detail-img-one" />
                            </li>
                          {% endthumbnail %}
                        {% endfor %}

                     </ul>
                  </div>
                  <div id="carousel" class="flexslider">
                      <ul class="slides">
                        {% for i in image_list %}
                          {% thumbnail i.image "500" as im %}
                            <li>
                              <img id="myImg" src="{{im.url}}" />
                            </li>
                          {% endthumbnail %}
                        {% endfor %}
                      </ul>
                  </div>
              </section>

            </div> <!-- col-md-6 -->



            <div  class= " col-sm-12 col-lg-4 col-md-6">
              <h4 style="padding-top: 10%;" class="h-detail-description font-Lalezar-h3"> {{object.name}} </h4>
            <div >
              <ul class="ul-li ul-detail-description font-mirza-li">
                <li >زمان ساخت: {% if object.year == 0 %}نوساز{% else %} {{object.year}} {% endif %}<i class="fa fa-calendar" aria-hidden="true"></i></li>
                <li >گارانتی اصالت فیزیکی و سلامت کالا</li>
                {% if object.stock %}
                  <li>{{object.stock}} : تعداد کالای موجود در انبار </li>
                {% endif %}
                {% if object.available %}
                  <li>این کالا در انبار موجود است</li>
                {% else %}
                  <li>این کالا در انبار موجود نیست</li>
                {% endif %}
                <li>  01333354403 : شماره تماس مشاور  <i class="fas fa-phone"></i></li>
                <div class="call-block" >
                  <a class="btn btn-dark" href="tel: 01353445503">تماس با مشاور فروش</a>
                  <a style="margin-left: 5%; padding-left:10%; padding-right:10%;" class="btn btn-dark" href="tel:0133265303"> تماس با دفتر </a>

                </div>
                <li class="p-detail-description">توضیحات : {{object.description}} </li>
                {% if object.stock != 0 and object.available  %}
                  <form class="" action="{% url 'cart:cart_add' product_id=object.id %}" method="post">
                    <input class="btn btn-dark" style="background-color:#04AA6D;" type="submit" name="" value="افزودن به سبد">
                    <span style="font-size:18px;" class="ul-li font-mirza-li">عدد</span>
                    {{ cart_product_form.quantity }}
                    {% csrf_token %}
                  </form>
                {% endif %}

              </ul>
            </div>
            <div class="clearfix"> </div>

          </div>
            </div>

              </div>
             </div>


          <div class="container">
            <div class="row comment-box">
              <div class="col-2">
              </div>
              <div class="col-8">
                <h5 style="font-weight:bold;">نظر کاربران</h5>
                <div class="comment">
                  {% for obj in product_comments %}
                    <p>میگه : {{obj.comment_text}}   <strong>{{obj.user.username}}</strong>  </p>
                  {% endfor %}
                  {% if user.is_authenticated %}
                    <form class="" action="." method="post">
                      {% csrf_token %}
                      {{product_comment_form.new_comment_text}}
                      <button class='primaryContained float-right' type="submit">افزودن نظر</button>
                      {% csrf_token %}
                    </form>
                  {% endif %}
                </div><!--End Comment-->
              </div><!--End col -->
              <div class="col-2">
              </div>
            </div><!-- End row -->
            <div class="row">
              <div class="col-6">
            </div><!-- End col -->
            </div><!--End Row -->
          </div><!--End Container -->


<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'home/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">

    $(function(){

      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#slider'
      });

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: false,
        sync: "#carousel",

        start: function(slider){
          $('body').removeClass('loading');
        }

      });
    });
  </script>
     <script type="text/javascript">
        $(function(){
          SyntaxHighlighter.all();
        });
        $(window).load(function(){
          $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: false,
            itemWidth: 210,
            itemMargin: 5,
            minItems: 2,
            maxItems: 4,
            start: function(slider){
              $('body').removeClass('loading');
            }
          });
        });
      </script>

  <script>
  // Get the modal
    var modal = document.getElementById("myModal");

    var sli = document.getElementById("slider");
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var img2 = document.getElementById("myImg2");
    var img3 = document.getElementById("myImg3");

    var modalImg = document.getElementById("img01");
    var modalImg2= document.getElementById("img02");
    var modalImg3= document.getElementById("img03");

    var captionText = document.getElementById("caption");

    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      $('.flex-nav-next').hide();
      $('.flex-nav-prev').hide();
      console.log($('flex-nav-next'));

    }

    if (img2 != null ){
    img2.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      $('.flex-nav-next').hide();
      $('.flex-nav-prev').hide();
    }
  }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      $('.flex-nav-next').show();
      $('.flex-nav-prev').show();
      modal.style.display = "none";
    }
  </script>

  {% endblock content %}
